@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --primary-color: #E2C782ff;
    --secondary-color: #DAF1F7ff;
    --accent1-color: #032235ff;
    --accent2-color: #0E5D7Cff;

    --heading-font: 'Poetsen One', sans-serif;
    --paragraph-font: 'Rowdies' sans-serif;

    --nav-background-color: #0E5D7Cff;
    --nav-link-color: #DAF1F7ff;
    --nav-hover-link-color: #E2C782ff;
    --nav-hover-background-color: #032235ff;
}

body{
    font-family: var(--paragraph-font);
    max-width: 1500px;
    padding: 20px;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header img {
    max-width: 150px;
}
header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/*styling the div*/
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
}

article {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    max-width: 400px;
}

article img {
    max-width: 200px;
    float: right;
}

section {
    margin-top: 50px;
    font-size: 20px;
    max-width: 100%;

}



.pictures{
    max-width: 1500vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;


}

.adventure img {
    max-width: 200px;
}

footer {
    background-color: var(--accent2-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

}

footer p {
    margin: 0;
    justify-content: end;
}

footer img {
    width: 40px; /* Adjust size as needed */
    margin: 0 5px;
}