:root {
    --primary-color: #E2C782ff;
    --secondary-color: #DAF1F7ff;
    --accent1-color: #032235ff;
    --accent2-color: #0E5D7Cff;

    --heading-font: 'Poetsen One', sans-serif;
    --paragraph-font: 'Rowdies' sans-serif;

    --nav-background-color: #0E5D7Cff;
    --nav-link-color: #DAF1F7ff;
    --nav-hover-link-color: #E2C782ff;
    --nav-hover-background-color: #032235ff;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}